body {
  background-color: #e4f1f7;
  font-family: "Fira Sans", sans-serif;
}

main {
  padding: 30px 0;
}

.city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(71, 65, 99, 0.4);
  font-weight: 500;
}

.weather-details strong {
  color: #7e78f6;
}

.app {
  background-color: #fefefe;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form-input {
  background-color: #f4f8fc;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-btn {
  background-color: #78cff6;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  color: #fff;
  margin-left: 5px;
  font-size: 16px;
}

.weather-temp-container {
  display: flex;
}

.weather-icon {
  width: 88px;
  height: 88px;
}

.temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
  line-height: 88px;
}

.weather-unit {
  margin-top: 6px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 58px;
  height: 58px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temps {
  color: #7e78f6;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.weather-forecast-temp {
  padding: 0 5px;
}

.bold {
  font-weight: bold;
}

a {
  color: #78cff6;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
